.contactPlusLine{
    display: flex;
    flex-direction: column;
}
.contact{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: rgb(219, 204, 204); */
    max-width: 79vw;
    margin-bottom: 5px;
    height: 50px
}
.logoAndContactInfo_Div{
    display: flex;
    align-items: center;
}
.contactInfo{
    margin-left: 2px;
}
.contact_logo{
    margin-right: 0.6vw;
    font-size: 1.6rem;
     color: rgb(0, 22, 51);
}
.contactName{
    margin: 0;
    font-weight: 600;
}
.contactEmail{
    margin: 0;
    font-weight: 400;
    color: rgb(77, 77, 77);
    font-size: 0.8rem;
}
.btns{
    display: flex;
    align-items: center;
    justify-content: space-between  ;
    height: 100%;
    width: 65px;
    /* background-color: #80f; */
}
.editBtn_contacts{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(112, 157, 216);
    font-size: 1.5rem;
    cursor: pointer;
    padding: 3px;
    border-radius: 4px;
}
.editBtn_contacts:hover{
    background-color: rgb(223, 223, 223);
}
.deleteBtn{
    color: rgb(255, 108, 108);
    font-size: 1.7rem;
    cursor: pointer;
    padding: 2px;
    border-radius: 4px;
}
.deleteBtn:hover{
    background-color:  rgb(223, 223, 223);
}
.line{
    border: none;
    background-color: rgb(209, 209, 209);
    height: 0.1px;
    width: 80vw;
}
